<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-mobile-data"
    version="1.0.2">

    <name>Mobile Data Controls</name>

    <description>This plugin set / gets the Mobile data state.</description>
    <author>Webcraft</author>
    <keywords></keywords>

    <license>CC</license>

    <js-module src="www/mobiledata.js" name="MobileData">
        <clobbers target="cordova.plugins.MobileData" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="MobileData" >
            <param name="android-package" value="com.webcraft.mobiledata.MobileData"/>
          </feature>
        </config-file>

        <source-file src="src/android/MobileData.java" target-dir="src/com/webcraft/mobiledata" />

    </platform>
</plugin>